body {
	font-family: 'Michroma', sans-serif;
	font-size: 14px;
	margin: 20px;
}

.container > div {
	background: #eee;
	border: 1px solid #ccc;
}

#header {
	margin-bottom: 5px;
}

#main_nav {
	height: 100%;
	margin: 0px;
}

.sub_menu_list {
	list-style: none;
	margin: -10px;
	padding: 0px;
	width: 100%;
}

.sub_menu_list li {
	background: #fed;
	display: block;
	width: 100%;
}

#footer {
	bottom: 0px;
	margin-top: 5px;
	position: relative;	
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.ui-widget {
	font-family: 'Michroma', sans-serif;
	font-size: 14px;
}

.ui-tabs .ui-tabs-nav li a {
	font-size: 10px;
}

.ag {
	border: 1px solid green;
	text-align: center;
}

.ags {
	text-align: center;
}

.ajax-loader {
	margin-right: 25px;
}

.item_name {
	font-size: 18px;
}

/***************/
/* Was see.css */
/**************/

.list_header h2 {
	font-size: 16px;
}

.control_buttons {
	margin: 10px 0px 10px 0px;
}

.ui-button-icon-primary {
	margin-right: 150px;
}

.ui-button-text {
	font-family: 'Michroma', sans-serif;
	font-size: 10px;
}

.settings_list ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.settings_list ul li {
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

.list_header fieldset legend{
	background: #ccc;
	margin-left: 25px;
	z-index: 9999;
}

.list_header fieldset form, .list_header fieldset button {
	margin-left: 15px;
}

#replace_input {
	width: 85%;
}

.delete_check {
	margin-top: 4px;
}