body {
	font-family: sans-serif;
	font-size: 14px;
	margin: 40px;
}

#flash {
	width: 45%;
}

#flash p {
	margin: 10px;
	font-weight: bold;
}

.message_error {
	background: #fee;
	border: 2px solid maroon;	
}

.message_success {
	background: #99FF99;
	border: 2px solid #006600;	
}