#alignments {
	list-style: none;
	width: 30%;
}
	
#alignments li {
	display: block;
	height: 22px;
	line-height: 20px;
	margin-bottom: 5px;
	padding: 5px;
}
	
#alignments li input {
	width: auto;
	margin: 0px 10px 0px 15px;
	vertical-align: middle;
}

.list_controls {
	margin: 15px 0 15px 0;
}
	
.item_name {
	display: inline-block;
	font-size: 16px;
	margin-top: 0px;
	vertical-align: middle;
}
	
.list_button {
	float: right;
}

.edit_item {
	margin-right: 6px;
}